.App {
  background-color: #000020;
  font-family: Courier;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-weight: bold;
  color: #A0FFFF;
}

.App-identity {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  color: #A0FFFF;
}

.App-navbar {
  padding-left: 10px;
  color: #A0FFFF;
}

.App-navbar a {
  text-decoration: none;
  font-size: 120%;
  color: white;
  margin: 5px;
}

.App-navbar a:hover {
  color: magenta;
}

.App-navbar span {
  font-size: 120%;
  font-weight: bold;
  margin: 1vh;
  cursor: pointer;
}

.App-body {
  margin-top: 20px;
  padding-left: 30px;
  color: #A0FFFF;
}

.userName {
  color: gold;
  font-weight: bold;
}

.inlineInput {
  width: 18vh;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: gold;
  font-weight: bold;
  font-family: Courier;
}

.inlineInputLong {
  width: 50%;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: gold;
  font-weight: bold;
  font-family: Courier;
}

.inlineButton {
  margin-left: 25px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: #70BFBF;
  cursor: pointer;
}

.headerSubtitle {
  color: #90DFDF;
  margin-top: 0px;
  font-size: 60%;
  font-style: italic;
}

.urlExamples {
  margin: 3vh 10vh;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid gold;
  font-size: 66%;
}

.urlExamples .urlExample {
  font-weight: bold;
}

ul.fileList {
  list-style-type: none;
}

.fileList > li {
  margin-left: 3vh;
  font-weight: bold;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.questionBlock {
  margin: 3vh 3vh;
  border-radius: 12px;
  padding: 12px 30px;
  border: 2px solid gold;
  font-size: 80%;
}

.questionBlock > .questionBody {
  color: magenta;
}

.questionBlock > .answerBody {
  color: gold;
  font-weight: bold;
}