.App {
  background-color: #6599cc;
  font-family: Courier;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-weight: bold;
/*  color: #ffffff;*/
}

.App-identity {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  color: #12386f;
}

.App-navbar {
  padding-left: 10px;
/*  color: #A0FFFF;*/
}

.App-navbar span {
  font-size: 120%;
  font-weight: bold;
  margin: 1vh;
  cursor: pointer;
  color: #A0FFFF;
}

.fileSourceUrl:visited {
  color: #A0FFFF;
}

.fileSourceUrl {
  color: #A0FFFF;
}

.fileSourceUrl:hover {
  color: #12386f;
}

.App-body {
  margin-top: 20px;
  padding-left: 30px;
  color: #12386f;
}

.userName {
  color: black;
  font-weight: bold;
}

.inlineInput {
  width: 18vh;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-family: Courier;
}

.inlineInputLong {
  width: 50%;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-family: Courier;
}

.inlineButton {
  margin-left: 25px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: #70BFBF;
  cursor: pointer;
}

.headerSubtitle {
  color: #90DFDF;
  margin-top: 0px;
  font-size: 60%;
  font-style: italic;
}

.urlExamples {
  margin: 3vh 3vh;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid #12386f;
  font-size: 80%;
  color: #A0FFFF;
}

.urlExamples .urlExample {
  font-weight: bold;
}

ul.fileList {
  list-style-type: none;
}

.fileList > li {
  margin-left: 3vh;
  font-weight: bold;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.questionBlock {
  margin: 1vh 3vh;
  border-radius: 12px;
  padding: 12px;
  border: 2px solid purple;
  font-weight: bold;
}

.questionBlock > .questionBody {
  color: #A0FFFF;
  font-size: 80%;
}

.questionBlock > .answerBody {
  color: #12386f;
}

hr.fancy {
  border: 5px solid #4579ac;
/*  border-radius: 5px;*/
}

.homeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5vh;
}