cassio>=0.1.3
# git+https://github.com/cassioml/cassio@SL-delete-on-md-search#egg=cassio

# langchain>=0.0.309
git+https://github.com/hemidactylus/langchain@updated-full-preview-remove-shims#egg=langchain&subdirectory=libs/langchain

fastapi==0.99.1
openai==0.27.8
pypdf==3.12.0
python-dotenv==1.0.0
tiktoken==0.4.0
uvicorn==0.22.0
